.App {
  min-height: 100vh;
  text-align: center;
}

/* Sign In AND Register */

.inputForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputForm form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  margin: 5px;
  width: 50%;
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px 15px;
  outline: none;
}

.submitButton {
  background-color: black;
  color: white;
  width: 20%;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
}

/* Display Leagues */

#allLeagues {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* SearchBar */

#searchBarContainer {
  width: 50%;
  margin: 0 auto;
}

#searchBar {
  width: 50%;
}

/* League Card */

.leagueCard {
  width: 25%;
  height: 60px;
  background-color: black;
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.leagueCard:hover {
  transform: scale(1.05)
}

.leagueCard:active {
  transform: scale(0.95)
}

.leagueCard p {
  width: 85%;
  margin: 0 auto;
}

/* League Details */

.banner {
  width: 100%;
  height: auto;
  margin: 0;
}

.banner img {
  width: 100%;
  height: auto;
}

.heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading button {
  position: absolute;
  left: 10%;
}

#detailsContainer {
  display:flex; 
  flex-direction:column; 
}

#leagueDetails {
  margin-bottom: 100px;
  width: 60%;
  margin: 0 auto;
}

#leagueDetails p {
  line-height: 25px;
  text-align: left;
}

#shortInfo {
  display: flex;
  justify-content: center;
}

#shortInfo article {
  width: 30%;
}

#shortInfo article p {
  text-align: center;
}

#showTeams {
  width: 200px;
  height: 50px;
  margin: 20px auto;
  margin-bottom: 40px;
  cursor: pointer;
  border: none;
  background-color: black;
  border-radius: 50px;
  color: white;
  transition: all .2s ease-in-out;
}

#showTeams:hover {
  transform: scale(1.05);
}

#showTeams:active {
  transform: scale(0.95);
}

/* Teams */

#allTeams {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.teamSelect {
  width: 20%;
  background-color: #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.teamSelect:hover {
  transform: scale(1.05);
}

.teamSelect:active {
  transform: scale(0.95);
}

.teamBadge {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.teamBadge img {
  width: 100%;
  height: auto;
}

/* Footer */

footer {
  background-color: #ccc;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

footer a {
  transition: all .2s ease-in-out;
}

footer a:hover {
  transform: scale(1.1, 1.1);
}

footer a:active {
  transform: scale(0.95, 0.95);
}

